po/Makefile.in.in
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
src/.deps/
src/*.lo
src/*.la
src/.libs
